.container-contact {
    margin: 30px auto;
}

.title-contact {
    text-align: center;
    color: var(--primary-color);
}

.line-contact {
    font-family: initial;
}
.container-icons-social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}