.drawer-menu {
    top: 69px;
    z-index: 9;
    background-color: var(--secondary-color);
    height: 100%;
    position: fixed;
    right: -273px;
    width: 273px;
    display: flex;
    padding: 25px;
    padding-right: 5px;
    transition: all 0.5s linear;
}

.drawer-active {
    right: 0;
}

.menu-items-drawer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.menu-items-drawer li {
    list-style: none;
    padding-bottom: 10px;
    border-bottom: .5px solid #B2B2B2;
}

.menu-items-drawer li a {
    text-decoration: none;
    color: var(--black);
}

.menu-items-drawer li a svg {
    margin-right: 7px;
}


@media screen and (min-width: 40em) {
    .drawer-menu {
        display: none;
    }
}

@keyframes openDrawer {
    0% {
        transform: translateX(100%);
    }
}

@keyframes closeDrawer {
    100% {
        transform: translateX(0);
    }
}