@import url('https://fonts.cdnfonts.com/css/fira-sans-book');

:root {
    --primary-color: #41b40c;
    --secondary-color: #F2F2F2;
    --black: #000;
    --gray: #374139;
    --white: #FFF;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}