@import url('./global.css');

.mobile-menu {
    border: 0;
    background: transparent;
}

.mobile-menu>span {
    margin: 7px auto;
    display: block;
    width: 27px;
    height: 3px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    background-color: var(--black);
}

.mobile-menu.active span:first-child {
    transform: translateY(10px) rotate(45deg);
}

.mobile-menu.active span:nth-child(2) {
    opacity: 0;
}

.mobile-menu.active span:last-child {
    transform: translateY(-10px) rotate(-45deg);
}

@media screen and (min-width: 40em) {
    .mobile-menu {
        display: none;
    }
}